name: album-downloader
services:
  downloader:
    image: "album-downloader"
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./downloads:/downloads
      - ./output:/output
      - ./config/arls.txt:/app/config/arls.txt
    environment:
      - DOWNLOADS_PATH=/downloads
      - OUTPUT_PATH=/output
    env_file:
      # see .env.example
      - .env
    ports:
      - "80:80"
